/* style.css */

:root, * {
    padding: 0px;
    margin: 0px;
    
}

/* img styles */

img {
    object-fit: cover;
    height: 100vh;
}

/* font styles */

@font-face {
    font-family: migae-sb;
    src: url(./MigaeSemibold-3zd2M.otf);
}

* {
    font-family: migae-sb;
}


/* other styles */

h1 {
    color: white;
    text-align: center;
    opacity: 100%;
    font-size: 84px;
}

h2 {
    font-size: 28px;
    padding: 64px 128px 64px 48px;
}

main {
    display: flex;

}

form {
    font-weight: 200;
    background-color: white;
    padding: 64px 128px 64px 48px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0px rgb(165, 165, 165);

}

form > * {
    padding: 24px;

}

label {
    display: flex;
    flex-direction: column;
}

aside {
    padding: 64px 128px 64px 48px;
}

.sign-up {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    background-color: rgb(231, 231, 231);
    justify-content: center;
}

.brand-logo-pic {
    display: flex;
    flex-direction: column;
    position: relative;
    width: max(40%, 480px);
    height: 100vh;

    background-image: url(maria-orlova-bU8TeXhsPcY-unsplash\ \(1\).jpg);
    background-position: center;
    background-size: 100vh;
    background-repeat: no-repeat;

}

.opaque {
    background-color: rgba(0, 0, 0, 50%);
    position: absolute;
    top: 25%;
    padding: 36px 0px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading {
    opacity: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form-inputs {
    
}


/* Media Queries */

@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }
}