/* style.css */

:root, * {
    padding: 0px;
    margin: 0px;
}

/* img styles */

img {
    position: absolute;
    height: 100vh;
}

/* font styles */


/* other styles */

h1 {
    color: white;
    text-align: center;
    opacity: 100%;
}

main {
    display: flex;

}

.sign-up {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
}

.brand-logo-pic {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 100vh;
}

.opaque {
    background-color: rgba(0, 0, 0, 50%);
    position: absolute;
    padding: 30px 0px;
    width: 100%;
}

#heading {
    opacity: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    
}